body, a { margin:0;  font-family: 'Verdana', Geneva, sans-serif; background:#279b77; color:#b00b69; }
nav { background:#279b77; color:#b00b69; padding:10px 20px; position:fixed; width:100%; top:0; z-index:1000; }
.nav-container { display:flex; justify-content:space-between; align-items:center; }
.nav-links { display:flex; list-style:none; gap:20px; }
.nav-links li { margin:0; }
.nav-links a { color:#b00b69; text-decoration:none; padding:5px 10px; border:none; background:none; cursor:pointer; font-weight: bold;}
h1, h2, h3, img {text-align: center;}
h2 {padding-left: 85px; padding-right: 85px;}
h4 {margin: 0 auto;}
a {text-decoration: none;}
.card {display: inline-block; vertical-align: middle; width:24%; padding: 5px; border-radius: 20px;}
.emblem {width: 9%;}
header { padding-top:60px; text-align:center; position:relative; }
.header-image { width:100%; max-height: 500px; object-fit: cover; object-position: center;}
.centeredtext { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); color:#b00b69; font-size:48px; font-weight:bold; }
.previewsets { display:grid; grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); gap:20px; padding:20px; }
.set img { width:100%; border-radius:20px; }
